@(logoutUrl: Call)(implicit flash: Flash, assetsFinder: AssetsFinder)

@main("Welcome to Play") {
<h1>Welcome to Play!</h1>

@* show the flash message (Option 1) *@
@flash.get("info").getOrElse("")

<div>
    <a href="@logoutUrl">logout</a>
</div>

}