@(YearlyReminderForm: Form[models.YearlyReminderFormData], yearlyReminders : Seq[models.YearlyReminder])(implicit request: RequestHeader, assetsFinder: AssetsFinder)
@main("Welcome to Play") {

<form id="user-data-form" role="form" action='@routes.YearlyReminderController.addYearlyReminder()' method="post" class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="user-fieldset">

        <div class="user-form">
            <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Yearly reminder</label>
        </div>
        <br/>
        <table align="center" cellspacing="20">
            <tr>
                <td align="left">
                    <div class="user-form" id="content_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>Content</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="content_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" id="content" name="content" value="" placeholder="Content" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="date_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>Date</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="date_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" id="date" name="date" value="" placeholder="Date" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Add</button>
        </div>

    </fieldset>
</form>

<div class="user-display" >
    <fieldset>
        <legend align="center"><h3>Reminders</h3></legend>
        <table cellspacing="20" border="1">
            <tr>
                <th><b>What happened?</b></th>
                <th><b>When did it happen?</b></th>
            </tr>
            @for(yearlyReminder <- yearlyReminders){
            <tr>
                <td>@yearlyReminder.content</td>
                <td>@yearlyReminder.date</td>
                <td><a href="@routes.YearlyReminderController.deleteYearlyReminder(yearlyReminder.id)">delete</a></td>
            </tr>
            }
        </table>
    </fieldset>
</div>

}